body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
h1{
  background-color: rgb(100, 237, 219);
  padding: 20px;
    
} */

.App{
  background-color: rgb(33, 156, 150);
  
}

img{
   width: 30%;
   height: auto ;
     
}

.pic{
  display: flex;
  gap: 15px;
}


p {
  font-size: larger;
  font-family:Arial, Helvetica, sans-serif

}
h2 {
  size: large;
  
}


.nav-bar-link:visited {
  color: rgb(36, 180, 180);
}

.nav-bar-link:hover {
  color: white;
  background-color: #111;
  
}
.nav-bar-link{
display: block;
padding: 8px;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: large;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.container-fluid{
  background-color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 57px
}

.navbar-text{
  color: white;
  text-shadow: 2px 2px 5px rgb(36, 180, 180);
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 60px;
  font-weight: 500;
=======
 .logbtn{
  text-decoration: none;

}

